/* VARIABLES */
:root {
    --primary-background: #282c34;
    --secondary-background: #2c313c;
    --field-color: #3a3f4b;
    --grid-color: #bfbfbf;
    --cell-color: #ffffff;
    --target-color: #0254d9;
    --text-color: #ffffff;
    --button-color: #0254d9;
}

/* BODY */
body {
    margin: 0;
    background-color: var(--primary-background);
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

/* HEADER */
header {
    background-color: var(--primary-background);
    margin-bottom: 15px;
}

/* MODAL */
.w3-modal-content {
    background-color: var(--secondary-background);
    padding-bottom: 20px;
}

/* INPUTS */
input, select {
    background-color: var(--field-color);
    color: var(--text-color);
}

input:focus, select:focus, button:focus {
    outline: none;
}

/* BUTTONS */
button {
    background-color: var(--button-color)!important;
    color: var(--text-color)!important;
}

.fab {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 2px;
}

/* STATS */
#stats {
    background-color: var(--primary-background);
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 10px 10px 10px;
}

/* CANVAS */
canvas {position: absolute;}
#canvas {
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 400px) {
    #canvas {overflow: scroll;}
}

/* ACTIONS */
#actions {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 0 10px 10px;
}
